<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Results | Staff</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
  </head>
  <body>

    <%- include('header.ejs') %>

    <main role="main">

      <div class="container marketing">
          <div class="row mt-5">
              <div class="container col-lg-6 mt-5" >

                <div class="text-center">
                    <img src="/img/staff-search.png" alt="">
                    <h2>Results</h2>
                    <!-- <h5 class="text-muted">Search by StudentID, Firstname or Surname </h5> -->
                    <div class="input-group mb-3">
                        <select class="form-control" id="option">
                            <% data.forEach(i=>{ %>
                                <option value="<%=i.url%>"><%=i.text%></option>
                            <% }) %>
                        </select>
                        <button id="view" class="btn btn-dark">View</button>
                    </div>
                    
                    
                  </div>
              </div>
          </div>
      </div>
          


    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/vendor/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/js/vendor/holder.min.js"></script>
    <script>
        $("#view").click(function(){
            let v = $("#option").val();
            window.location = v;
        })
    </script>
  </body>
</html>
